body{
  color:#40514E;
  margin:0;
  text-align: center;
  font-family: 'Merriweather', serif;

}
h1{
  margin: 50px auto 0 auto;
  color:#66BFBF;
  font-size: 5.65rem;
  font-family: 'Sacramento', cursive;
}
h2{
    color:#66BFBF;
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
}
h3{
  color:#11999E;
  font-family: 'Montserrat', sans-serif;
  margin: auto;
}

a{
  color: #11999E;
  font-family:'Montserrat',sans-serif;
  margin: 10px 20px;
  display: block;
  text-decoration: none;
}
a:hover{
  cursor: pointer;
  opacity: 0.5;
  color: white;
}
nav{

  background-color: #34495e;
  opacity: 0.8;
  height: 75px;
  width: 100%;
  text-align: center;
  position: fixed;
  z-index: 1;
}
ul{
  height:50%;
  text-align: center;
  padding: 20px;
}
ul li{

  height: 100%;
  margin: 5px;
  display: inline-block;

}
hr{

  border: dotted #EAF5F6 6px;
  border-bottom: none;
  width: 10%;
  margin: 100px auto;

}


p{
    line-height: 2;
}
/*******************CLASS SELECTORS***********************************/

.top-Container{
    position: relative;
    padding-top: 100px;

    background-image: url('https://media.giphy.com/media/GFXNdR1tuMopi/giphy.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
.middle-container{

  margin: 100px 0;
}
.bottom-container{
 background-color: #66BFBF;
 padding: 50px 0 20px;
 margin-top: 50px;

}

.skill-row{
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
}
.intro-desc{
  width:30%;
  margin: auto;
}
.contact-message{
  width: 40%;
  margin: 40px auto 60px ;
}
.copy-right{
  color: #EAF6F6;
  font-size:0.75rem;
  padding: 20px 0;

}
.butn {
  background: #11cdd4;
  background-image: -webkit-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Montserrat',sans-serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin:auto;
  width: 25%;

}

.butn:hover {
  background: #30e3cb;
  background-image: -webkit-gradient(top, #11cdd4, #11999e);
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/**********************IMAGE SELECTORS*******************************/
.top-cloud{
  height: 100px;
  position: absolute;
  right: 300px;
  top:40px;

}
.bottom-cloud{
  height: 100px;
  position: absolute;
  left: 250px;
  bottom: 300px;

}
.Mountain{
  opacity: .5;

}
.profile-img{
  border-radius: 50%;
}
.java-image{
  width: 25%;
  margin-right: 30px;
  float: left;
}
.html-image{
  width: 25%;
  margin-left: 30px;
  float: right;
}
.css-image{
  width: 25%;
  margin-right: 30px;
  float: left;
}
.java-script-image{
  width: 25%;
  margin-left: 30px;
  float: right;
}
/************************ICON SELECTORS*******************************/
.fab {
  font-size: 50px;
}
